.card-container.card {
  max-width: 30vh !important;
  padding: 3.04vh 3.04vh;
}
.card {
  background-color: #f7f7f7;
  padding: 1.5209vh 1.901vh 2.281vh;
  margin: 0 auto 1.901vh;
  margin-top: 3.8vh;
  -moz-border-radius: 0.15209vh;
  -webkit-border-radius: 0.15209vh;
  border-radius: 0.15209vh;
  -moz-box-shadow: 0vh 0.15209vh 0.15209vh rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0vh 0.15209vh 0.15209vh rgba(0, 0, 0, 0.3);
  box-shadow: 0vh 0.15209vh 0.15209vh rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 7.3vh;
  height: 7.3vh;
  margin: 0 auto 0.76vh;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn-secondary {
  background-color: #212529;
  --bs-btn-border-color: #212529;
}

/* for footer */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}
/*  */

:root {
  --bs-body-line-height: 1.5vh;
  --bs-body-font-size: calc(1rem + 0.5vh);
}

.btn {
  --bs-btn-font-size: calc(1rem + 0.25vw);
}

.form-control {
  font-size: calc(1rem + 0.5vh);
}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
  height: calc(3.5rem + 1vh);
}

table {
  font-size: calc(1rem + 0.5vh);
}